body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header {
    text-align: center;
}
nav {
    display: grid;
    grid: 1fr;
}

article h2 {
    color: blue;
}
article image {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}